################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/fire-station-training-and-vehicle/FireStationDb
