html {
  font-size: 14px;
 
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;   
}

body {
    margin: 0 auto; 
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    white-space: nowrap;
    line-height: 60px;
    background-color: #000b38;
}
.navLink {
    color: white;
    font-size: 1.1rem;
    display: block;
    padding: 0.5rem 1rem;
    
    text-decoration: none;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

    .form-signin .checkbox {
        font-weight: 400;
    }

    .form-signin .form-floating:focus-within {
        z-index: 2;
    }

    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

.btn1 {
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: #000b38;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}
    .btn1:hover{
        background:white;
        border:1px solid;
        color:navy;
    }

.logo{
    height:80px;
    
}