html {
  font-size: 14px;
 
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;   
}

body {
    margin: 0 auto; 
}
h1{
    padding-left:2rem;
}
.footer {
    position: absolute;
    bottom: 0;
    clear:both;
    width: 100%;
    color: white;
    text-align: center;
    white-space: nowrap;
    line-height: 60px;
    background-color: #000b38;
}
.navLink {
    color: white;
    font-size: 1.1rem;
    display: block;
    padding: 0.5rem 1rem;
    
    text-decoration: none;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

    .form-signin .checkbox {
        font-weight: 400;
    }

    .form-signin .form-floating:focus-within {
        z-index: 2;
    }

    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

.btn1 {
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: #000b38;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}
    .btn1:hover{
        background:white;
        border:1px solid;
        color:navy;
    }
.btn2 {
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: green;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}

    .btn2:hover {
        background: white;
        border: 1px solid;
        color: green;
    }
.logo{
    height:80px;
    
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 32rem;
}

    .carousel-item > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 32rem;
    }

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}
.icon-square {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    border-radius: .75rem;
}
.autocomplete-container {
    /*the container must be positioned relative:*/
    position: relative;
    margin-bottom: 20px;
}

    .autocomplete-container input {
        outline: none;
        border: 1px solid rgba(0, 0, 0, 0.2);
        padding: 10px;
        padding-right: 31px;
        font-size: 16px;
    }

.autocomplete-items {
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: calc(100% + 2px);
    left: 0;
    right: 0;
    background-color: #fff;
}

    .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
    }

        .autocomplete-items div:hover {
            /*when hovering an item:*/
            background-color: rgba(0, 0, 0, 0.1);
        }

    .autocomplete-items .autocomplete-active {
        /*when navigating through the items using the arrow keys:*/
        background-color: rgba(0, 0, 0, 0.1);
    }

.clear-button {
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    padding-top: 25px;
    position: absolute;
    right: 5px;
    top: 0;
    height: 100%;
    display: none;
    align-items: center;
}

    .clear-button.visible {
        display: flex;
    }


    .clear-button:hover {
        color: rgba(0, 0, 0, 0.6);
    }
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000b38;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

    .sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: white;
        display: block;
        transition: 0.3s;
    }

        .sidebar a:hover {
            color: #f1f1f1;
        }

    .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #000b38;
    color: white;
    padding: 10px 15px;
    border: none;
}

    .openbtn:hover {
        background-color: #444;
    }

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

        .sidebar a {
            font-size: 18px;
        }
}