@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .row {
        background: white;
        border-radius: 30px;
    }
    h1{
        margin-left:20px;
    }
</style>

<h1>Reset Password</h1>

<section class="Form">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <h3>Enter your email</h3>
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                   
                        <input asp-for="Input.Email" placeholder="Email Address" class="form-control" autocomplete="username" aria-required="true" />
                        
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    
                    <button type="submit" class="btn1 my-3 p-2">Reset Password</button>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
