@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<style>
    *{
        padding:0;
        margin:0;
        box-sizing:border-box;
    }
    
    .row{
        background:white;
        border-radius:30px;
    }

    .loginImg {
        border-top-left-radius:30px;
        border-bottom-left-radius: 30px;
        
    }
   body{
        background-image: linear-gradient(#000b38,white, #000b38);
   }
   
</style>

<section class="Form my-4 mx-5 ">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-5">
                <img src="~/images/logo.png" class="img-fluid loginImg" />
            </div>
            <div class="col-lg-7">
                <h3 class="pt-5">Welcome, Login In to your account</h3>
                <form id="account" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-row">
                        <div class="col-lg-7">

                            <input asp-for="Input.Email" class="form-control my-3 p-2" placeholder="Email Address" autocomplete="username" aria-required="true" />
                            
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-7">
                            <input asp-for="Input.Password" class="form-control my-3 p-2" placeholder="Password" autocomplete="current-password" aria-required="true" />
                           
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                    </div>
                     <div class="form-row">
                        <div class="col-lg-7">
                            <button class="btn1 my-3 p-2" type="submit">Log in</button>
                        </div>
                    </div>
                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                </form>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
