@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>
<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .row {
        background: white;
        border-radius: 30px;
    }

    h1 {
        margin-left: 20px;
    }

    
</style>

<div class="row mx-4 my-4 no-gutters">
    <div class="col-md-4">
        <form class="row g-3" method="post">
            <div class="col-md-6">
                <label asp-for="Input.FirstName" class="form-label"></label>
                <input asp-for="Input.FirstName" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>

            </div>
            <div class="col-md-6">
                <label asp-for="Input.LastName" class="form-label"></label>
                <input asp-for="Input.LastName" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>

            </div>
            <div class="col-md-6">
                <label asp-for="Input.Email" class="form-label"></label>
                <input asp-for="Input.Email" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>

            </div>
            <div class="col-md-6">
                <label asp-for="Input.Password" class="form-label"></label>
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>

            </div>

            <div class="col-md-6">
                <label asp-for="Input.Gender" class="form-label"></label>
                <select asp-for="Input.Gender" class="form-control" asp-items="ViewBag.Gender"></select>
                <span asp-validation-for="Input.Gender" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Input.DateOfBirth"></label>
                <input asp-for="Input.DateOfBirth" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Input.Role" class="form-label"></label>
                <select asp-for="Input.Role" class="form-control" asp-items="ViewBag.Role"></select>
                <span asp-validation-for="Input.Role" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Input.StationId" class="form-label"></label>
                <select asp-for="Input.StationId" class="form-control" asp-items="ViewBag.Station"></select>
                <span asp-validation-for="Input.StationId" class="text-danger"></span>
            </div>
            <div class="col-12">
                <div class="autocomplete-container" id="autocomplete-container">
                    <label asp-for="Input.Address"></label>
                    <input asp-for="Input.Address" class="form-control" class="autocomplete-container" id="autocomplete-containerd" type="text" />
                    <span asp-validation-for="Input.Address" class="text-danger"></span>
                </div>
            </div>
            <div class="col-6">
                <button type="submit" class="btn btn2">Register</button>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
