@model fire_station_training_and_vehicle.Models.VehicleReport

@{
    ViewData["Title"] = "Report vehicle issue";
}

<h1>Report Issue</h1>


<div class="row mx-4 my-4 no-gutters">
    <div class="col-md-4">
        <form class ="row g-3" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-6" hidden>
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="col-md-6">
                <label asp-for="VehicleId" class="control-label"></label>
                <select asp-for="VehicleId" class ="form-control" asp-items="ViewBag.VehicleId"></select>
            </div>
            <div class="col-md-6">
                <label asp-for="DateReported" class="control-label"></label>
                <input asp-for="DateReported" class="form-control" />
                <span asp-validation-for="DateReported" class="text-danger"></span>
            </div>
            <div class="col-md-6" hidden>
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="IssueType" class="control-label"></label>
                <select asp-for="IssueType" class="form-control" asp-items="ViewBag.IssueType"></select>
                <span asp-validation-for="IssueType" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" ></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="col-md-12">
                <input type="submit" value="Create" class="btn btn2" />
            </div>
        </form>
    </div>
    <div>
        <a asp-action="Index">Back to Reported issues List</a>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
