@model fire_station_training_and_vehicle.Models.Vehicle


@{
    ViewData["Title"] = "Create";
}
<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .row {
        background: white;
        border-radius: 30px;
    }

    h1 {
        margin-left: 20px;
    }

</style>
<h1>Add Vehicle</h1>

<div class="row mx-4 my-4 no-gutters">
    <div class="col-md-6">
        <form method="post" asp-action="Create" id="frmVehicle">
            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-6">
                    <label asp-for="VehicleTypeId" class="control-label"></label>
                    <select asp-for="VehicleTypeId" class="form-control" onchange="getVehicleType();" id="vehicleType" asp-items="ViewBag.DefaultTypeId"><option value="">----Select Type----</option></select>
                </div>
                <div class="col-md-6">
                    <label asp-for="StationId" class="control-label"></label>
                    <select asp-for="StationId" class="form-control" asp-items="ViewBag.StationId"></select>
                </div>
                <div class="col-md-6">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="LicencePlate" class="control-label"></label>
                    <input asp-for="LicencePlate" class="form-control" />
                    <span asp-validation-for="LicencePlate" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="LicenceExpiry" class="control-label"></label>
                    <input asp-for="LicenceExpiry" class="form-control" />
                    <span asp-validation-for="LicenceExpiry" class="text-danger"></span>
                </div>
              
                <div class="col-md-6">
                    <label asp-for="Make" class="control-label"></label>
                    <input asp-for="Make" class="form-control" />
                    <span asp-validation-for="Make" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Model" class="control-label"></label>
                    <input asp-for="Model" class="form-control" />
                    <span asp-validation-for="Model" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Year" class="control-label"></label>
                    <input asp-for="Year" class="form-control" />
                    <span asp-validation-for="Year" class="text-danger"></span>
                </div>
                <div class="col-md-6" hidden>
                    <label asp-for="IsDeleted" class="control-label"></label>
                    <input asp-for="IsDeleted" class="form-control" />
                    <span asp-validation-for="IsDeleted" class="text-danger"></span>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="col-6 p-2">
                        <button type="submit" onclick="submitForm();" class="btn btn2">Add Vehicle</button>
                    </div>
                </div>
            </div>
        </form>
    </div>


    <div class="col-md-6 types">
        <form id="frmVehicleType">
            <input type="text" hidden id="typeId" name="typeId" class="form-control" />
          
            <div class="row ">
                <div class="col-md-6">
                    <label class="control-label" for="tankCapacity">Tank Minimum Capacity</label>
                    <input type="text" id="tankCapacity" name="tankMinimumCapacity" data-val="true" data-val-required="Tank Minimum Capacity is required." class="form-control" />
                    <span data-valmsg-for="tankMinimumCapacity" data-valmsg-replace="true" class="text-danger" />
                </div>
                <div class="col-md-6">
                    <label class="control-label">Hose 1 1/2 inch</label>
                    <input type="text" id="hoseOneHalf" name="hoseOneHalfInch" data-val="true" data-val-required="Hose 1 1/2 inch is required." class="form-control" />
                    <span data-valmsg-for="hoseOneHalfInch" data-valmsg-replace="true" class="text-danger" />
                </div>
                <div class="col-md-6">
                    <label class="control-label">Hose 1 inch</label>
                    <input type="text" id="hoseOne" name="hoseOneInch" data-val="true" data-val-required="Hose 1 inch is required." class="form-control" />
                    <span data-valmsg-for="hoseOneInch" data-valmsg-replace="true" class="text-danger" />
                </div>
                <div class="col-md-6">
                    <label class="control-label">Hose 2 1/2 inch</label>
                    <input type="text" id="hoseTwoHalf" name="hoseTwoHalfInch" data-val="true" data-val-required="Hose 2 1/2 inch is required." class="form-control" />
                    <span data-valmsg-for="hoseTwoHalfInch" data-valmsg-replace="true" class="text-danger" />
                </div>
                <div class="col-md-6">
                    <label class="control-label">Maximum GVR</label>
                    <input type="text" id="maximumGvr" name="maximumGvr" data-val="true" data-val-required="Maximum GVR is required." class="form-control" />
                    <span data-valmsg-for="maximumGvr" data-valmsg-replace="true" class="text-danger" />
                </div>
                <div class="col-md-6">
                    <label class="control-label">Minimum Personel</label>
                    <input type="text" id="minPersonel" name="minPersonel" data-val="true" data-val-required="Minimum Personel is required." class="form-control" />
                    <span data-valmsg-for="minPersonel" data-valmsg-replace="true" class="text-danger" />
                </div>
                <div class="col-md-6">
                    <label class="control-label">Pump Minimum Flow</label>
                    <input type="text" id="pumpMinimumFlow" name="pumpMinimumFlow" data-val-required="Pump Minimum Flow is required." data-val="true" class="form-control" />
                    <span data-valmsg-for="pumpMinimumFlow" data-valmsg-replace="true" class="text-danger" />
                </div>
                <div class="col-md-6">
                    <label class="control-label">Rated Pressure</label>
                    <input type="text" id="ratedPressure" name="ratedPressure" data-val="true" data-val-required="Rated Pressure is required." class="form-control" />
                     <span data-valmsg-for="ratedPressure" data-valmsg-replace="true" class="text-danger" />
                </div>
                <div class="col-md-6">
                    <label class="control-label">Typical Use</label>
                    <input type="text" id="typicalUse" name="typicalUse" data-val="true" data-val-required="Typical Use is required." class="form-control" />
                    <span data-valmsg-for="typicalUse" data-valmsg-replace="true" class="text-danger" />
                </div>

                <div class="col-md-6 mt-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" name="heavyRescue" id="heavyRescue">
                        <label class="form-check-label" for="heavyRescue">
                            Heavy Rescue
                        </label>
                    </div>
                </div>

                <div class="col-md-6 mt-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" name="ladders" id="ladders">
                        <label class="form-check-label" for="ladders">
                            Ladders
                        </label>
                    </div>
                </div>
                <div class="col-md-6 mt-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" name="masterStream" id="masterStream">
                        <label class="form-check-label" for="masterStream">
                            Master Stream
                        </label>
                    </div>
                </div>

                <div class="col-md-6 mt-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" name="pumpAndRoll" id="pumpAndRoll">
                        <label class="form-check-label" for="pumpAndRoll">
                            Pump and Roll
                        </label>
                    </div>
                </div>

                <div class="col-md-6 mt-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" name="turntable" id="turntable">
                        <label class="form-check-label" for="turntable">
                            Turntable
                        </label>
                    </div>
                </div>

                <div class="col-md-6 mt-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" name="wildLandRescue" id="wildLandRescue">
                        <label class="form-check-label" for="wildLandRescue">
                            Wild Land Rescue
                        </label>
                    </div>
                </div>
                <div class="col-md-6 mt-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" name="structure" id="structure">
                        <label class="form-check-label" for="structure">
                            Structure
                        </label>
                    </div>
                </div>
                <div class="col-md-12">
                    <label class="control-label">Special Notes</label>
                    <textarea id="description" name="description" class="form-control" rows="6" cols="3"> </textarea>
                </div>
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function getVehicleType() {
            $(".types").removeClass("hide");

            var id = $('#vehicleType').val();
            $('#typeId').val(id);
            $.ajax({
                url: '/Vehicle/GetDefaultTypes/' + id,
                type: 'GET',
                success: function (data) {

                    $('#tankCapacity').val(data.tankMinimumCapacity);
                    $('#hoseOneHalf').val(data.hoseOneHalfInch);
                    $('#hoseOne').val(data.hoseOneInch);
                    $('#hoseTwoHalf').val(data.hoseTwoHalfInch);
                    $('#maximumGvr').val(data.maximumGvr);
                    $('#minPersonel').val(data.minPersonel);
                    $('#pumpMinimumFlow').val(data.pumpMinimumFlow);
                    $('#ratedPressure').val(data.ratedPressure);
                    $('#typicalUse').val(data.typicalUse);
                    if (data.heavyRescue) {
                        $('#heavyRescue').prop('checked', true);
                    } else {
                        $('#heavyRescue').prop('checked', false);
                    }

                    if (data.structure) {
                        $('#structure').prop('checked', true);
                    } else {
                        $('#structure').prop('checked', false);
                    }

                    if (data.ladders) {
                        $('#ladders').prop('checked', true);
                    } else {
                        $('#ladders').prop('checked', false);
                    }

                    if (data.masterStream) {
                        $('#masterStream').prop('checked', true);
                    } else {
                        $('#masterStream').prop('checked', false);
                    }

                    if (data.pumpAndRoll) {
                        $('#pumpAndRoll').prop('checked', true);
                    } else {
                        $('#pumpAndRoll').prop('checked', false);
                    }

                    if (data.turntable) {
                        $('#turntable').prop('checked', true);
                    } else {
                        $('#turntable').prop('checked', false);
                    }

                    if (data.wildLandRescue) {
                        $('#wildLandRescue').prop('checked', true);
                    } else {
                        $('#wildLandRescue').prop('checked', false);
                    }
                },
                error: function () {
                    alert('Error occurred while calling the API.');
                }
            });


        }
        function submitForm() {
            var form = $("#frmVehicleType");
            if (!form.valid()) {
                return false;
            }
            var description = $("textarea[name='description']").val();
            var tankMinimumCapacity = $("input[name='tankMinimumCapacity']").val();
            var hoseOneHalfInch = $("input[name='hoseOneHalfInch']").val();
            var hoseOneInch = $("input[name='hoseOneInch']").val();
            var hoseTwoHalfInch = $("input[name='hoseTwoHalfInch']").val();
            var minPersonel = $("input[name='minPersonel']").val();
            var maximumGvr = $("input[name='maximumGvr']").val();
            var pumpMinimumFlow = $("input[name='pumpMinimumFlow']").val();
            var ratedPressure = $("input[name='ratedPressure']").val();
            var typicalUse = $("input[name='typicalUse']").val();
            var ratedPressure = $("input[name='ratedPressure']").val();
            var typeId = $("input[name='typeId']").val();
            var heavyRescue = $("input[name='heavyRescue']").prop("checked");
            var masterStream = $("input[name='masterStream']").prop("checked");
            var pumpAndRoll = $("input[name='pumpAndRoll']").prop("checked");
            var turntable = $("input[name='turntable']").prop("checked");
            var wildLandRescue = $("input[name='wildLandRescue']").prop("checked");
            var structure = $("input[name='structure']").prop("checked");
            var ladders = $("input[name='ladders']").prop("checked");

            var data = {
                description: description,
                typeId: typeId,
                tankMinimumCapacity: tankMinimumCapacity,
                hoseOneHalfInch: hoseOneHalfInch,
                hoseOneInch: hoseOneInch,
                hoseTwoHalfInch: hoseTwoHalfInch,
                minPersonel: minPersonel,
                maximumGvr: maximumGvr,
                pumpMinimumFlow: pumpMinimumFlow,
                ratedPressure: ratedPressure,
                typicalUse: typicalUse,
                ratedPressure: ratedPressure,
                heavyRescue: heavyRescue,
                masterStream: masterStream,
                pumpAndRoll: pumpAndRoll,
                turntable: turntable,
                wildLandRescue: wildLandRescue,
                structure: structure,
                ladders: ladders
            };
            alert(data);
            $.ajax({
                type: 'POST',
                data: JSON.stringify(data),
                url: '/Vehicle/CreateType/',
                contentType: "application/json",
                success: function (response) {
                    if (response.success) {
                        alert('Record created successfully.');
                       
                    } else {
                        
                    }
                },
                error: function (xhr, status, error) {
                }
            });
        }
    </script>
    }
<style>
    .hide {
        display: none;
    }

    #btnSubmit {
        width: 200px;
        height: 50px;
        font-size: 20px;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

