@using Microsoft.AspNetCore.Identity
@using fire_station_training_and_vehicle.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}



<div>
 
    <div class="row no-gutters">
        <div class="col-lg-11">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
