@model IEnumerable<fire_station_training_and_vehicle.Models.Event>

@{
    ViewData["Title"] = "Events Calendar";
}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            themeSystem: 'bootstrap5',
            initialView: 'dayGridMonth',
            events: '/Event/AllEvents',
            eventClick: function (events) { // add eventClick callback function
                $('#eventModal').modal('show');
                console.log(events);
                var location = events.event._def.extendedProps.location;
                var title = events.event._def.title;
                var start = new Date(events.event._instance.range.start);
                var end = new Date(events.event._instance.range.end);

                // show the modal
                $('#eventTitle').text(title); // set the title of the modal
                $('#eventStart').text(start.toLocaleString()); // set the title of the modal
                $('#eventEnd').text(end.toLocaleString()); // set the title of the modal
                $('#eventLocation').text(location); // set the title of the modal

            }
        });
        calendar.render();
    });
</script>
<style>
    #calendar {
        height: 600px;
    }

    h1 {
        margin-bottom: 0.5em;
        text-align: center;
    }

    .buttonContainer {
        text-align: center;
    }
    /* Set the font family for the event titles */
    .fc-event-title {
        font-family: Arial, sans-serif;
    }
</style>
<div>
    <h1>Welcome to events calendar</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="calendar"></div>
        </div>
    </div>
</div>
<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eventModalLabel">Event Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5 id="eventTitle"></h5>
                Start Date: <p id="eventStart"></p>
                End Date: <p id="eventEnd"></p>
               Location: <p id="eventLocation"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

