@model IEnumerable<fire_station_training_and_vehicle.Models.Maintenance>

@{
    ViewData["Title"] = "Index";

}

<h1>Index</h1>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style>
    .reviewContainer {
        display: flex;
        margin-top: 2em;
        gap: 10em;
    }

    #wrapper {
        float: left;
        width: 500px;
    }

    #list {
        list-style: none;
        padding: 0;
        border: 1px solid black;
    }

   
</style>
<div class="row mx-4 my-4 no-gutters">
    <div class="col-md-4">
        <p>You can check maintenance records for all the vehicles from here, Select name of vehicle that you want to see records for.</p>
        <select class="form-control" onchange="getRecord();" id="vehicleId" asp-items="ViewBag.VehicleId"><option value="">----Select Vehicle----</option></select>
    </div>
    <div class="col-md-8">
        <div id="wrapper">
        </div>
    </div>
    <div>
        <a asp-controller="Maintenance" asp-action="MaintenanceHome">Back main board</a>
    </div>
</div>

<script>
    function getRecord() {
        var id = $('#vehicleId').val();
        var divelement = $('#wrapper');
        var html = "";
        var name="";
        divelement.empty();
        $.ajax({
            url: '/Maintenance/MaintenanceRecord/' + id,
            type: 'GET',
            dataType: "json",
            success: function (data) {
                $.each(data, function (index, element) {
                    const i = element.dateOfRepair.indexOf("T");
                    const newDateOfRepair = element.dateOfRepair.substring(0, i);
                    name=element.vehicle.name;
                    html += "<ul id=\"list\"><li><strong>Sent for Repair: </strong>" + newDateOfRepair + " </li><li><strong>Description</strong> " + element.description + " </li><li><strong>Mieleage : </strong>" + element.milage + " </li></ul>";
                });
                divelement.append("<h4>Vehicle Name: "+name+"</h4>");
                divelement.append(html);

            },
            error: function () {

            }
        });
    }
</script>
